html {
  background: #f9eee3;
  font-size: 14px;
  line-height: 20px;
}
body {
  width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  font-family: 'Inter', sans-serif;
  color: #333;
  background-color: #f9eee3;
}

h1 {
  font-size: 40px;
}

h2.subtitle {
  font-size: 1.5em; /* Adjust the size as needed */
  color: gray;     /* Optional: Change the color */
  margin-top: 0;   /* Optional: Adjust the spacing */
}

#title {
  font-family: 'Inter', sans-serif;
  text-align: left;
  padding: 30px;
  font-size: 28px;
  letter-spacing: -0.01em;
  color: #333;
}

#legend {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 10px;
  font-size: 12px;
}

#legend .item {
  line-height: 12px;
  padding: 0 10px 0 4px;
}

#legend .item.male {
  border-left: 12px solid #19A0AA;
}

#legend .item.female {
  border-left: 12px solid #F15F36;
}

#chart-wrapper {
  height:;
  width:;
}


#footer {
  text-align: center;
  font-size: 12px;
}

#footer a {
  color: #aaa;
}

.spoiler-content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.spoiler-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white ;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.spoiler-button:focus {
    outline: none;
}
